# Expo
.expo/
dist/
web-build/

# Node
node_modules/
npm-debug.log
yarn-error.log

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

# Metro bundler
.metro-health-check*

# Testing
coverage/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Misc
*.log
